/* variables */
:root {
    /* main palette */
    --light: #f1f2f2;
    --dark: #2e3337;
    --spot: #ff7d7d;
}

/* Noe Display Black */
@font-face {
    font-family: 'Noe Display';
    src: url(../fonts/Noe\ Display\ Black.woff);
}

html {
    background: var(--light);
}

body {
    overflow-x: hidden;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
}

.ul-nav-left,
.ul-nav-right {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ul-nav-left {
    margin: 55px 0px 55px 55px;
}

.ul-nav-right {
    margin: 55px 55px 55px 0px;
}

.li-nav {
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    cursor: pointer;
}

.section-menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    width: 100vw;
    height: 100vh;
    background: var(--dark);
    position: absolute;
    z-index: 1;
}

.section-menu-show {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    z-index: 3;
    position: fixed;
}

.ul-nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1.32;
}

.li-nav-menu {
    font-family: 'Noe Display', serif;
    font-size: 98px;
    letter-spacing: 0px;
    color: var(--dark);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--light);
    cursor: pointer;
}

.menu-int {
    font-size: 25px;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: var(--spot);
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: 0;
    vertical-align: text-top;
    margin-right: 15px;
}

.section-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    background: var(--light);
    position: relative;
}

.intro-parent {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 424px;
}

.intro-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.jcon-logo {
    width: 52px;
}

.jcon {
    font-size: 80px;
    color: var(--spot);
}

.jcon-menuopen,
.section-menu,
.section-menu-show,
.section-intro,
.li-nav-menu {
    -webkit-transition: all 0.62s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.62s cubic-bezier(0.23, 1, 0.32, 1);
    transition-duration: 0.62s;
    -webkit-transition-duration: 0.62s;
}

.jcon-menuopen:hover {
    font-size: 38px;
}

.jcon-art,
.jcon-tags, {
    font-size: 84px;
}

.jcon-logo {
    font-size: 50px;
}

h1 {
    display: inline-block;
    font-family: 'Noe Display', serif;
    font-size: 72px;
    color: var(--dark);
}

.h1-highlight {
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.h1-highlight {
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(255, 125, 125, 1);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(255, 125, 125, 1);
    box-shadow: inset 0px -42px 0px 0px rgba(255, 125, 125, 1);
}

.h1-pad {
    position: absolute;
    width: 100%;
    height: 7px;
    background: var(--light);
}

.section-projects {
    background: var(--dark);
    width: 100vw;
    height: 800px;
}