/* variables */
:root {
    /* main palette */
    --light: #f1f2f2;
    --dark: #2e3337;
    --spot: #ff7d7d;
}

/* Noe Display Black */
@font-face {
    font-family: 'Noe Display';
    src: url(../fonts/Noe\ Display\ Black.woff);
}

html {
    background: var(--light);
}

body {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    height: 100vh;
}

.nav-left {
    left: 0;
}

.nav-right {
    right: 0;
}

.ul-nav-left,
.ul-nav-right {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ul-nav-left {
    margin: 55px 0px 55px 55px;
}

.ul-nav-right {
    margin: 55px 55px 55px 0px;
}

.li-nav {
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    cursor: pointer;
    z-index: 9;
}

.section-menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    width: 100vw;
    height: 100vh;
    background: var(--dark);
    position: absolute;
    z-index: 8;
}

.section-menu-show {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.nav-menu {
    z-index: 5;
    position: fixed;
}

.ul-nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1.32;
    width: 500px;
}

.li-nav-menu {
    font-family: 'Noe Display', serif;
    font-size: 98px;
    letter-spacing: 0px;
    color: var(--dark);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--light);
    cursor: pointer;
}

.li-nav-menu:hover {
    color: white;
    margin-left: 42px;
}

.menu-int {
    font-size: 25px;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: var(--spot);
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: 0;
    vertical-align: text-top;
    margin-right: 15px;
}

.section-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    background: var(--light);
    position: relative;
}

.intro-parent {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 424px;
}

.intro-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.jcon-logo {
    width: 52px;
}

.jcon {
    font-size: 80px;
    color: var(--spot);
}

.jcon-menuopen,
.section-menu,
.section-menu-show,
.section-intro,
.li-nav-menu,
.grid-img {
    -webkit-transition: all 0.62s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.62s cubic-bezier(0.23, 1, 0.32, 1);
    transition-duration: 0.62s;
    -webkit-transition-duration: 0.62s;
}

.jcon-menuopen:hover {
    font-size: 38px;
}

.jcon-art,
.jcon-tags, {
    font-size: 84px;
}

.jcon-logo {
    font-size: 50px;
}

h1 {
    display: inline-block;
    font-family: 'Noe Display', serif;
    font-size: 72px;
    color: var(--dark);
    white-space: nowrap;
}

.h1-highlight {
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

/*
.h1-highlight {
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(255, 125, 125, 1);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(255, 125, 125, 1);
    box-shadow: inset 0px -42px 0px 0px rgba(255, 125, 125, 1);
}

.h1-pad {
    position: absolute;
    width: 100%;
    height: 7px;
    background: var(--light);
}
*/

.h1-john,
.h1-des,
.h1-dev {
    position: flex;
    z-index: 2;
}

.h1-pad {
    display: block;
    justify-content: center;
    position: absolute;
    height: 35px;
    background: var(--spot);
    left: 7px;
    bottom: 7px;
    z-index: 1;
}

.section-proj {
    background: var(--dark);
    display: flex;
    width: 100vw;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.1);
}

.grid-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .grid-card {
    width: 25%;
    max-height: auto;
    margin: 0;
    padding: 0;
    background: var(--dark);
    transition: 0;
  }
  
  .grid-img {
    width: 100%;
    display: block;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: 0.2;
    cursor: pointer;
    z-index: 3;
  }

  .grid-img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    opacity: 1;
  }

  @media (max-width: 1600px) {
    .grid-card {
      width: 33.33%;
    }
  }
  
  @media (max-width: 1024px) {
    .grid-card {
      width: 50%;
    }
  }
  
  @media (max-width: 685px) {
    .row {
      flex-direction: column;
    }
    .grid-card {
      width: 100%;
    }
  }